PORT=5000
MONGODB_URI=mongodb://localhost:27017/lexvault
JWT_SECRET=lexvault_super_secret_jwt_key_2026
RPC_URL=http://127.0.0.1:8545
USE_LIVE_RPC=false
LEDGER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

